<dashboardUser-sidebar>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" style="margin-bottom: 29px;">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" 
            aria-controls="flush-collapseOne" style="padding-left: 0px;">
            <h2>Serviços</h2>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 4h18a1 1 0 0 1 .8 1.6L14 12v6a1 1 0 0 1-.5.87l-4 2A1 1 0 0 1 8 20v-8L2.2 5.6A1 1 0 0 1 3 4Z" fill="currentColor"/>
            </svg>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">       
          <div>
            <form [formGroup]="filterForm">
              <div class="text-center my-3 ">
                <div class="row g-3">
                  <div class="col-12 col-md-6 col-lg-4">
                    <app-input [showTip]="false">
                      <p class="infoInputFilter">Nome do serviço</p>
                      <input
                        type="text"
                        formControlName="name"
                        class="form-control"
                        placeholder="Nome do serviço"
                        [ngClass]="{'is-invalid': filterForm.get('name')?.invalid && filterForm.get('name')?.touched}"
                      />
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </app-input>
                  </div>
              
                  <div class="col-12 col-md-6 col-lg-4">
                    <app-input [showTip]="false">
                      <p class="infoInputFilter">Descrição do serviço</p>
                      <input
                        type="text"
                        formControlName="description"
                        class="form-control"
                        placeholder="Descrição do serviço"
                        [ngClass]="{'is-invalid': filterForm.get('description')?.invalid && filterForm.get('description')?.touched}"
                      />
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </app-input>
                  </div>
              
                  <div class="col-12 col-md-6 col-lg-4">
                    <app-input [showTip]="false">
                      <p class="infoInputFilter">Dono do Pet</p>
                      <input
                        type="text"
                        formControlName="petOwnerName"
                        class="form-control"
                        placeholder="Nome do dono do pet"
                        [ngClass]="{'is-invalid': filterForm.get('petOwnerName')?.invalid && filterForm.get('petOwnerName')?.touched}"
                      />
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </app-input>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-auto">
      <div>
        <shared-button (click)="createNewServiceModalOpen()" data-bs-toggle="modal" data-bs-target="#exampleModal" [buttonText]="'Criar novo serviço'"></shared-button>
      </div>
      <div>
        <shared-button (click)="applyFilters()" [buttonText]="'Pesquisar'" [variant]="'dark'"></shared-button>
      </div>
    </div>
   
    <div class="shadow-lg">
      <table *ngIf="!isLoading" class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="d-none d-sm-table-cell">Nome do Pet</th>
            <th scope="col">Serviço</th>
            <th scope="col" class="d-none d-sm-table-cell">Descrição</th>
            <th scope="col" class="d-none d-sm-table-cell">Preço</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of serviceHistory">
            <td [width]="120"><div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                ⛭
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Deletar</a></li>
                <li><a class="dropdown-item" href="#">Editar</a></li>
              </ul>
            </div></td>
            <td class="d-none d-sm-table-cell">{{ service.pet?.name }}</td>
            <td>{{ service.name }}</td>
            <td class="d-none d-sm-table-cell">{{ service.description }}</td>
            <td class="d-none d-sm-table-cell">{{ service.price | currency:'BRL':'symbol':'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <shared-load *ngIf="isLoading"></shared-load>
    <shared-toast *ngIf="isSuccess"></shared-toast>

    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Novo serviço</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="createPetForm">              <div class="text-center my-3 ">
                <div class="row g-3">
                  <div class="col-12 col-md-6 col-lg-4">
                    <app-input [showTip]="false">
                      <p class="infoInputFilter">Nome</p>
                      <input
                        type="text"
                        formControlName="name"
                        class="form-control"
                        placeholder="Nome do serviço"
                        [ngClass]="{'is-invalid': filterForm.get('name')?.invalid && filterForm.get('name')?.touched}"
                      />
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </app-input>
                  </div>
              
                  <div class="col-12 col-md-6 col-lg-4">
                    <app-input [showTip]="false">
                      <p class="infoInputFilter">Descrição</p>
                      <input
                        type="text"
                        formControlName="description"
                        class="form-control"
                        placeholder="Descrição do serviço"
                        [ngClass]="{'is-invalid': filterForm.get('description')?.invalid && filterForm.get('description')?.touched}"
                      />
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </app-input>
                  </div>
              
                  <div class="col-12 col-md-6 col-lg-4">
                    <app-input [showTip]="false">
                      <p class="infoInputFilter">Preço</p>
                      <input
                        type="number"
                        formControlName="petOwnerName"
                        class="form-control"
                        [ngClass]="{'is-invalid': filterForm.get('petOwnerName')?.invalid && filterForm.get('petOwnerName')?.touched}"
                      />
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </app-input>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p class="infoInputFilter">Nome do usuário</p>
                  <select id="userSelect" formControlName="selectedUser" class="form-select">
                    <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
                  </select>
                </div>
                <div class="col">
                  
                  <p class="infoInputFilter">Nome do pet</p>
                  <select id="petSelect" formControlName="selectedPetUser" class="form-select">
                    <option *ngFor="let pet of pets" [value]="pet.id">{{ pet.name }}</option>
                  </select>

                </div>
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <shared-button data-bs-dismiss="modal" [buttonText]="'Cancelar'"></shared-button>
            <shared-button (click)="createNewService()" [buttonText]="'Salvar'" [variant]="'dark'"></shared-button>
          </div>
        </div>
      </div>
    </div>
    
</dashboardUser-sidebar>

