<dashboardUser-sidebar>
    <h1>Bem-vindo de volta!</h1>
    
    <div class="container text-center">
        <div class="row justify-content-center g-3" style="margin-top: 3vh;">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="custom-card">
                    <img src="https://static-file.petz.com.br/platforms/img/product/ecommerce/bath-and-groom-elipse.png" alt="..." class="custom-card-img">
                    <div class="custom-card-body">
                        @if (validateProfile([0])) 
                        {
                            <h5 class="custom-card-title">Meus Pets</h5>
                            <p class="custom-card-text" >Gerencie seus pets</p>
                            <a routerLink="/pets">
                                <div style="display: flex; justify-content: center; padding-top: 3%;">
                                    <shared-button [buttonText]="'Ir para Pets'"></shared-button>
                                </div>
                            </a>
                        } @else 
                        {
                            <h5 class="custom-card-title">Serviços</h5>
                            <p class="custom-card-text" >Gerencie os serviços</p>
                            <a routerLink="/scheduling">
                                <div style="display: flex; justify-content: center; padding-top: 3%;">
                                    <shared-button [buttonText]="'Ir para Serviços'"></shared-button>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="custom-card">
                    <img src="https://static-file.petz.com.br/platforms/img/product/ecommerce/cansei-de-ser-gato-elipse.png" alt="..." class="custom-card-img">
                    <div class="custom-card-body">
                        @if (validateProfile([0])) 
                        {
                            <h5 class="custom-card-title">Meus Agendamentos</h5>
                            <p class="custom-card-text" >Todos os serviços de seu pet!</p>
                            <a routerLink="/scheduling">
                                <div style="display: flex; justify-content: center; padding-top: 3%;">
                                    <shared-button [buttonText]="'Ir para Agendamentos'"></shared-button>
                                </div>
                            </a>
                        } @else 
                        {
                            <h5 class="custom-card-title">Atender Agendamentos</h5>
                            <p class="custom-card-text" >Atenda aos serviços solicitados</p>
                            <a routerLink="/scheduling">
                                <div style="display: flex; justify-content: center; padding-top: 3%;">
                                    <shared-button [buttonText]="'Ir para Atendimento'"></shared-button>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> 
</dashboardUser-sidebar>
