.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 15px;
    padding: 10px;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
  }
  
  .accordion-button:focus {
    box-shadow: none !important;
  }

  .accordion-button::after {
    display: none;
  }
  
  .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
  }

.infoInputFilter {
  margin-bottom: 0;
  text-align: left;
  font-weight: 600;
}

.dropdown-item:hover i {
  color: #007bff;
}

.dropdown-toggle:hover i {
  color: #007bff;
}

.center-text {
  text-align: center;
}